discord.private_key=

everquest.install_directory=
everquest.raid_targets_endpoint=
everquest.server=

mysql.database=
mysql.host=
mysql.password=
mysql.username=

pagerduty.integration_key=

timezone.game=
timezone.guild=