base.mode=

discord.private_key=

everquest.install_directory=
everquest.raid_targets_endpoint=
everquest.server=

mysql.database.prod=
mysql.database.test=
mysql.host.prod=
mysql.host.test=
mysql.password.prod=
mysql.password.test=
mysql.username.prod=
mysql.username.test=

timezone.game=
timezone.guild=